:root{
    --underline_hsl_lightness: 50%;
    --bg_hsl_lightness: 93%;

    --rate_bg_color:hsl(33, 100%, var(--bg_hsl_lightness));
    --rate_underline_color:hsl(33, 100%, var(--underline_hsl_lightness));

    --pitch_bg_color:hsl(272, 100%, var(--bg_hsl_lightness));
    --pitch_underline_color:hsl(272, 100%, var(--underline_hsl_lightness));

    --emphasis_bg_color:hsl(189, 100%, var(--bg_hsl_lightness));
    --emphasis_underline_color:hsl(189, 100%, var(--underline_hsl_lightness));

    --spellout_bg_color:hsl(156, 100%, var(--bg_hsl_lightness));
    --spellout_underline_color:hsl(156, 100%, var(--underline_hsl_lightness));

    --rate_pitch_gradient: linear-gradient(0deg, var(--rate_bg_color) 50%, var(--pitch_bg_color) 50%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg_hsl_lightness: 50%;
        --rate_bg_color:hsla(33, 100%, var(--bg_hsl_lightness), 0.2);
        --pitch_bg_color:hsla(272, 100%, 60%, 0.2);
        --emphasis_bg_color:hsla(189, 100%, var(--bg_hsl_lightness), 0.2);
        --spellout_bg_color:hsla(156, 100%, var(--bg_hsl_lightness), 0.2);
    }
}

prosody, emphasis, say-as {
    padding: 0 3px;
    border-radius: 3px;
}

prosody[rate]:before,
prosody[pitch]:after,
emphasis:before,
say-as[interpret-as="spell-out"]:before {
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

prosody[rate] {
    background-color: var(--rate_bg_color);
    text-decoration: underline dotted var(--rate_underline_color);
    text-decoration-thickness: 3px;
    background-repeat: no-repeat;
    background-size: auto 74%;
    background-position: 3px center;
}

prosody[rate="x-slow"] {
    background-image: url(/assets/icons/rate-x-slow.svg);
    padding-left: 40px;
}
prosody[rate="slow"] {
    background-image: url(/assets/icons/rate-slow.svg);
    padding-left: 26px;
}

prosody[rate="fast"] {
    background-image: url(/assets/icons/rate-fast.svg);
    padding-left: 26px;
}
prosody[rate="x-fast"] {
    background-image: url(/assets/icons/rate-x-fast.svg);
    padding-left: 40px;
}

prosody[pitch] {
    background-color: var(--pitch_bg_color);
    text-decoration: underline wavy var(--pitch_underline_color);
    background-repeat: no-repeat;
    background-size: auto 74%;
    background-position: 3px center;
}

prosody[pitch="x-low"] {
    background-image: url(/assets/icons/pitch-x-low.svg);
    padding-left: 19px;
}
prosody[pitch="low"] {
    background-image: url(/assets/icons/pitch-low.svg);
    padding-left: 21px;
}

prosody[pitch="high"] {
    background-image: url(/assets/icons/pitch-high.svg);
    padding-left: 21px;
}
prosody[pitch="x-high"] {
    background-image: url(/assets/icons/pitch-x-high.svg);
    padding-left: 19px;
}


prosody[rate][pitch] {
    background-repeat: no-repeat;
    background-size: auto 74%, auto 74%, cover;
}

prosody[rate="x-slow"][pitch="x-low"] {
    background-image:
            url(/assets/icons/rate-x-slow.svg),
            url(/assets/icons/pitch-x-low.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 40px center, center;
    padding-left: 55px;
}
prosody[rate="x-slow"][pitch="low"] {
    background-image:
            url(/assets/icons/rate-x-slow.svg),
            url(/assets/icons/pitch-low.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 40px center, center;
    padding-left: 57px;
}
prosody[rate="x-slow"][pitch="high"] {
    background-image:
            url(/assets/icons/rate-x-slow.svg),
            url(/assets/icons/pitch-high.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 40px center, center;
    padding-left: 57px;
}
prosody[rate="x-slow"][pitch="x-high"] {
    background-image:
            url(/assets/icons/rate-x-slow.svg),
            url(/assets/icons/pitch-x-high.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 40px center, center;
    padding-left: 55px;
}

prosody[rate="slow"][pitch="x-low"] {
    background-image:
            url(/assets/icons/rate-slow.svg),
            url(/assets/icons/pitch-x-low.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 25px center, center;
    padding-left: 40px;
}
prosody[rate="slow"][pitch="low"] {
    background-image:
            url(/assets/icons/rate-slow.svg),
            url(/assets/icons/pitch-low.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 25px center, center;
    padding-left: 42px;
}
prosody[rate="slow"][pitch="high"] {
    background-image:
            url(/assets/icons/rate-slow.svg),
            url(/assets/icons/pitch-high.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 25px center, center;
    padding-left: 42px;
}
prosody[rate="slow"][pitch="x-high"] {
    background-image:
            url(/assets/icons/rate-slow.svg),
            url(/assets/icons/pitch-x-high.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 25px center, center;
    padding-left: 40px;
}

prosody[rate="fast"][pitch="x-low"] {
    background-image:
            url(/assets/icons/rate-fast.svg),
            url(/assets/icons/pitch-x-low.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 25px center, center;
    padding-left: 40px;
}
prosody[rate="fast"][pitch="low"] {
    background-image:
            url(/assets/icons/rate-fast.svg),
            url(/assets/icons/pitch-low.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 25px center, center;
    padding-left: 42px;
}
prosody[rate="fast"][pitch="high"] {
    background-image:
            url(/assets/icons/rate-fast.svg),
            url(/assets/icons/pitch-high.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 25px center, center;
    padding-left: 42px;
}
prosody[rate="fast"][pitch="x-high"] {
    background-image:
            url(/assets/icons/rate-fast.svg),
            url(/assets/icons/pitch-x-high.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 25px center, center;
    padding-left: 40px;
}

prosody[rate="x-fast"][pitch="x-low"] {
    background-image:
            url(/assets/icons/rate-x-fast.svg),
            url(/assets/icons/pitch-x-low.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 42px center, center;
    padding-left: 57px;
}
prosody[rate="x-fast"][pitch="low"] {
    background-image:
            url(/assets/icons/rate-x-fast.svg),
            url(/assets/icons/pitch-low.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 42px center, center;
    padding-left: 59px;
}
prosody[rate="x-fast"][pitch="high"] {
    background-image:
            url(/assets/icons/rate-x-fast.svg),
            url(/assets/icons/pitch-high.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 42px center, center;
    padding-left: 59px;
}
prosody[rate="x-fast"][pitch="x-high"] {
    background-image:
            url(/assets/icons/rate-x-fast.svg),
            url(/assets/icons/pitch-x-high.svg),
            var(--rate_pitch_gradient);
    background-position: 3px center, 42px center, center;
    padding-left: 57px;
}

emphasis {
    background-color: var(--emphasis_bg_color);
    text-decoration: underline var(--emphasis_underline_color);
    text-decoration-thickness: 3px;
    font-weight: bold;
}

emphasis:before {
    content: url(/assets/icons/emphasis.svg);
    height: 18px;
    width: 14px;
}

say-as[interpret-as="spell-out"] {
    background-color: var(--spellout_bg_color);
    text-decoration: underline dashed var(--spellout_underline_color);
    text-decoration-thickness: 4px;
    letter-spacing: 3px;
}

say-as[interpret-as="spell-out"]:before {
    content: url(/assets/icons/spellout.svg);
    height: 18px;
    width: 14px;
}

.ssml-code {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 12px 15px;
    line-height: 24px;
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 0 0 6px 6px;
    overflow: auto;
}

.ql-editor {
    white-space: normal!important;
}