prosody[rate="slow"]:before,
prosody[rate="x-slow"]:before,
prosody[rate="fast"]:before,
prosody[rate="x-fast"]:before,
prosody[pitch="x-low"]:before,
prosody[pitch="low"]:before,
prosody[pitch="high"]:before,
prosody[pitch="x-high"]:before,
emphasis:before,
say-as[interpret-as="spell-out"]:before {
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}


prosody[rate="x-slow"],
prosody[rate="slow"],
prosody[rate="fast"],
prosody[rate="x-fast"] {
    background-color: hsl(33, 100%, 93%);
    text-decoration: underline dotted hsl(36, 100%, 50%);
    text-decoration-thickness: 3px;
    padding: 0 3px;
    border-radius: 3px;
}

prosody[rate="slow"]:before {
    content: url(/assets/icons/turtle.svg);
    height: 16px;
    width: 16px;
}
prosody[rate="x-slow"]:before {
    content: url(/assets/icons/double-turtle.svg);
    height: 16px;
    width: 30px;
}

prosody[rate="fast"]:before {
    content: url(/assets/icons/rabbit.svg);
    height: 16px;
    width: 16px;
}
prosody[rate="x-fast"]:before {
    content: url(/assets/icons/double-rabbit.svg);
    height: 16px;
    width: 30px;
}

prosody[pitch="x-low"],
prosody[pitch="low"],
prosody[pitch="high"],
prosody[pitch="x-high"] {
    background-color: hsl(272, 100%, 93%);
    text-decoration: underline wavy hsl(272, 100%, 50%);
    padding: 0 3px;
    border-radius: 3px;
}

prosody[pitch="x-low"]:before {
    content: url(/assets/icons/pitch-x-low.svg);
    height: 19px;
    width: 11px;
}
prosody[pitch="low"]:before {
    content: url(/assets/icons/pitch-low.svg);
    height: 16px;
    width: 11px;
}

prosody[pitch="high"]:before {
    content: url(/assets/icons/pitch-high.svg);
    height: 16px;
    width: 11px;
}
prosody[pitch="x-high"]:before {
    content: url(/assets/icons/pitch-x-high.svg);
    height: 19px;
    width: 11px;
}

emphasis {
    background-color: hsl(189, 100%, 93%);
    text-decoration: underline hsl(189, 100%, 50%);
    text-decoration-thickness: 3px;
    padding: 0 3px;
    border-radius: 3px;
    font-weight: bold;
}

emphasis:before {
    content: url(/assets/icons/emphasis.svg);
    height: 18px;
    width: 14px;
}

say-as[interpret-as="spell-out"] {
    background-color: hsl(156, 100%, 93%);
    text-decoration: underline dashed hsl(156, 100%, 50%);
    text-decoration-thickness: 4px;
    padding: 0 3px;
    border-radius: 3px;
    letter-spacing: 3px;
}

say-as[interpret-as="spell-out"]:before {
    content: url(/assets/icons/spellout.svg);
    height: 18px;
    width: 14px;
}

.ssml-code {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 12px 15px;
    line-height: 24px;
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 0 0 6px 6px;
}
