body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    background-color: #f8f7fc;
    font-family: 'Nunito', sans-serif;
}
#t2s {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}
#equalizer {
    position: relative;
    background-image: url(ani_equalizer_white.gif);
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 16px;
    display: none;
}
button.disabled {
    cursor:default;
}
.custom-control-input:checked~.custom-control-label::before{
    background-color:#3e28a9;
    border-color:#3e28a9;
}
.btn-info {
    background-color: #3e28a9;
    border-color: #3e28a9;
}
.btn-link {
    color: #3e28a9;
}
.btn-link:hover {
    color: #2e1e80;
}
.btn-info:hover {
    background-color: #2e1e80;
    border-color: #2e1e80;
}
.btn-info.disabled, .btn-info:disabled {
    background-color: #3e28a9;
    border-color: #3e28a9;
}
.btn-info.focus, .btn-info:focus {
    background-color: #3e28a9;
    border-color: #3e28a9;
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.5);
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, .25);
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    background-color: #2e1e80;
    border-color: #2e1e80;
}
.text-info {
    color: #3e28a9!important;
}
a {
    color: #6049d4;
}
a:hover {
    color: #8473de;
    text-decoration: underline;
}
.form-control:focus {
    border-color: rgba(62, 40, 169, 0.1);
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.25);
}
audio {
    border-radius: 30px;
}
audio:focus, audio:focus-visible {
    outline: none;
    border-color: rgba(62, 40, 169, 0.1);
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.25);
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.25);
}
@media(max-width:500px) {
    h1.h3 {
        font-size: 1.5rem;
    }
}
.table td, .table th {
    vertical-align: middle;
}
.actions>button {
    padding: 0 3px;
}
.actions {
    min-width: 96px;
}
.actions .btn-link.disabled, .actions .btn-link:disabled {
    color: #3e28a9;
    opacity: .45;
}

.ql-color-rate_x-slow,
.ql-color-rate_slow,
/*.ql-color-rate_medium,*/
.ql-color-rate_fast,
.ql-color-rate_x-fast {
    background-color: hsl(33, 100%, 93%);
    text-decoration: underline dotted hsl(36, 100%, 50%);
    text-decoration-thickness: 3px;
    padding: 0 3px;
    border-radius: 3px;
}

.ql-color-rate_slow:before {
    content: url(/assets/icons/turtle.svg);
    height: 16px;
    width: 16px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.ql-color-rate_x-slow:before {
    content: url(/assets/icons/double-turtle.svg);
    height: 16px;
    width: 30px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.ql-color-rate_fast:before {
    content: url(/assets/icons/rabbit.svg);
    height: 16px;
    width: 16px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.ql-color-rate_x-fast:before {
    content: url(/assets/icons/double-rabbit.svg);
    height: 16px;
    width: 30px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.ql-color-pitch_x-low,
.ql-color-pitch_low,
/*.ql-color-pitch_medium,*/
.ql-color-pitch_high,
.ql-color-pitch_x-high {
    background-color: hsl(272, 100%, 93%);
    text-decoration: underline wavy hsl(272, 100%, 50%);
    padding: 0 3px;
    border-radius: 3px;
}

.ql-color-pitch_x-low:before {
    content: url(/assets/icons/pitch-x-low.svg);
    height: 19px;
    width: 11px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.ql-color-pitch_low:before {
    content: url(/assets/icons/pitch-low.svg);
    height: 16px;
    width: 11px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.ql-color-pitch_high:before {
    content: url(/assets/icons/pitch-high.svg);
    height: 16px;
    width: 11px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.ql-color-pitch_x-high:before {
    content: url(/assets/icons/pitch-x-high.svg);
    height: 19px;
    width: 11px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.ql-color-emphasis {
    background-color: hsl(189, 100%, 93%);
    text-decoration: underline hsl(189, 100%, 50%);
    text-decoration-thickness: 3px;
    padding: 0 3px;
    border-radius: 3px;
    font-weight: bold;
}

.ql-color-emphasis:before {
    content: url(/assets/icons/emphasis.svg);
    height: 18px;
    width: 14px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.ql-color-spellout {
    background-color: hsl(156, 100%, 93%);
    text-decoration: underline dashed hsl(156, 100%, 50%);
    text-decoration-thickness: 4px;
    padding: 0 3px;
    border-radius: 3px;
    font-weight: bold;
}

.ql-color-spellout:before {
    content: url(/assets/icons/spellout.svg);
    height: 18px;
    width: 14px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}