body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    background-color: #f8f7fc;
    font-family: 'Nunito', sans-serif;
}
#t2s {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}
#equalizer {
    position: relative;
    background-image: url(ani_equalizer_white.gif);
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 16px;
    display: none;
}
button.disabled {
    cursor:default;
}
.custom-control-input:checked~.custom-control-label::before{
    background-color:#3e28a9;
    border-color:#3e28a9;
}
.btn-info {
    background-color: #3e28a9;
    border-color: #3e28a9;
}
.btn-link {
    color: #3e28a9;
}
.btn-link:hover {
    color: #2e1e80;
}
.btn-info:hover {
    background-color: #2e1e80;
    border-color: #2e1e80;
}
.btn-info.disabled, .btn-info:disabled {
    background-color: #3e28a9;
    border-color: #3e28a9;
}
.btn-info.focus, .btn-info:focus {
    background-color: #3e28a9;
    border-color: #3e28a9;
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.5);
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, .25);
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    background-color: #2e1e80;
    border-color: #2e1e80;
}
.text-info {
    color: #3e28a9!important;
}
a {
    color: #6049d4;
}
a:hover {
    color: #8473de;
    text-decoration: underline;
}
.form-control:focus {
    border-color: rgba(62, 40, 169, 0.1);
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.25);
}
audio {
    border-radius: 30px;
}
audio:focus, audio:focus-visible {
    outline: none;
    border-color: rgba(62, 40, 169, 0.1);
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.25);
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.25);
}
@media(max-width:500px) {
    h1.h3 {
        font-size: 1.5rem;
    }
}
.table td, .table th {
    vertical-align: middle;
}
.actions>button {
    padding: 0 3px;
}
.actions {
    min-width: 96px;
}
.actions .btn-link.disabled, .actions .btn-link:disabled {
    color: #3e28a9;
    opacity: .45;
}
