body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    background-color: #f8f7fc;
    font-family: 'Nunito', sans-serif;
}
#t2s {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
}
#equalizer {
    position: relative;
    background-image: url(/ani_equalizer_white.gif);
    background-size: cover;
    background-position: center;
    width: 26px;
    height: 16px;
    display: none;
}
button.disabled {
    cursor:default;
}
.custom-control-input:checked~.custom-control-label::before{
    background-color:#3e28a9;
    border-color:#3e28a9;
}
.btn-info {
    background-color: #3e28a9;
    border-color: #3e28a9;
}
.btn-link {
    color: #3e28a9;
}
.btn-link:hover {
    color: #2e1e80;
}
.btn-info:hover {
    background-color: #2e1e80;
    border-color: #2e1e80;
}
.btn-info.disabled, .btn-info:disabled {
    background-color: #3e28a9;
    border-color: #3e28a9;
}
.btn-info.focus, .btn-info:focus {
    background-color: #3e28a9;
    border-color: #3e28a9;
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.5);
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, .25);
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    background-color: #2e1e80;
    border-color: #2e1e80;
}
.text-info {
    color: #3e28a9!important;
}
a {
    color: #6049d4;
}
a:hover {
    color: #8473de;
    text-decoration: underline;
}
.form-control:focus {
    border-color: rgba(62, 40, 169, 0.1);
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.25);
}
audio {
    border-radius: 30px;
}
audio:focus, audio:focus-visible {
    outline: none;
    border-color: rgba(62, 40, 169, 0.1);
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.25);
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(62, 40, 169, 0.25);
}
@media(max-width:500px) {
    h1.h3 {
        font-size: 1.5rem;
    }
}
.table td, .table th {
    vertical-align: middle;
}
.actions>button {
    padding: 0 3px;
}
.actions {
    min-width: 96px;
}
.actions .btn-link.disabled, .actions .btn-link:disabled {
    color: #3e28a9;
    opacity: .45;
}

#text {
    height: auto;
    min-height: 200px;
}
.ql-editor {
    resize: vertical;
    min-height: 200px;
}
.multiple_files .ql-editor{
    counter-reset: filenumber;
}
.multiple_files .ql-editor p {
    border: 1px solid hsl(250, 100%, 42%);
    border-radius: 5px;
    margin-bottom: 34px;
    clear: both;
    position: relative;
    padding: 5px;
    margin-top: 24px;
}
.multiple_files .ql-editor p:before {
    color: hsl(250, 100%, 20%);
    /*content: "` + filename_value + `." counter(filenumber) '.mp3';*/
    width: auto;
    height: 24px;
    margin: -29px 5px 5px 0;
    position: absolute;
    display: inline-block;
    clear: both;
    border: 1px solid hsl(250, 71%, 50%);
    background: hsl(250, 75%, 97%);
    padding: 3px;
    font-size: 11px;
    border-radius: 3px 3px 0 0;
    counter-increment: filenumber;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: hsl(229, 45%, 98%);
        color: hsl(229, 18%, 16%);
    }
    .main-title{
        color: hsl(229, 18%, 31%);
    }
    .form-control{
        background: #fff;
        color: hsl(229, 18%, 31%);
    }
    audio {
        border: 1px solid hsl(210, 14%, 83%);
    }
    audio::-webkit-media-controls-panel {
        background: hsl(249, 47%, 97%);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: hsl(229, 21%, 16%);
        color: hsl(229, 18%, 72%);
    }
    .main-title{
        color: hsl(229, 18%, 65%);
    }
    .form-control{
        background: hsl(229, 21%, 19%);
        color: hsl(229, 18%, 65%);
        border-color: hsl(229, 21%, 32%);
    }
    .form-control:focus {
        background: hsl(229, 21%, 23%);
        color: hsl(229, 18%, 92%);
        border-color: hsla(250, 100%, 74%, 0.1);
        box-shadow: 0 0 0 0.2rem hsla(250, 100%, 74%, 0.25);
    }
    audio:focus, audio:focus-visible {
        border-color: hsla(250, 100%, 74%, 0.1);
        box-shadow: 0 0 0 0.2rem hsla(250, 100%, 74%, 0.25);
    }
    .custom-control-label::before{
        background: hsl(229, 21%, 26%);
        border-color: hsl(229, 21%, 32%);
    }
    .input-group-text {
        color: hsl(229, 18%, 50%);
        background-color: hsl(229, 21%, 23%);
        border-color: hsl(229, 21%, 32%);
    }
    .text-muted {
        color: hsl(229, 18%, 46%)!important;
    }
    .ql-toolbar.ql-snow {
        background: hsl(229, 21%, 23%);
    }
    .ql-toolbar.ql-snow + .ql-container.ql-snow {
        color: hsl(229, 18%, 79%);
    }
    .ql-toolbar.ql-snow,
    .ql-container.ql-snow {
        border-color: hsl(229, 21%, 32%);
    }
    .ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button,
    .ql-snow .ql-picker {
        color: hsl(229, 18%, 65%);
    }
    .ql-snow .ql-stroke {
        stroke: hsl(229, 18%, 65%);
    }
    .ql-snow .ql-picker.ql-expanded .ql-picker-label {
        color: hsl(229, 18%, 50%);
    }
    .ql-snow .ql-picker-options {
        background: hsl(229, 18%, 29%);
    }
    .text-info {
        color: hsl(250, 62%, 61%) !important;
    }
    a {
        color: hsl(250, 62%, 76%);
    }
    a:hover {
        color: hsl(250, 62%, 86%);
    }
    .btn-link {
        color: hsl(250, 62%, 61%);
    }
    .btn-link:hover {
        color: hsl(250, 62%, 71%);
    }
    .custom-control-input:not(:disabled):active~.custom-control-label::before {
        background-color: hsl(229, 21%, 32%);
        border-color: hsl(229, 21%, 32%);
    }
    .custom-control-label::before {
        border-color: hsl(229, 21%, 32%);
    }
    say-as[interpret-as="spell-out"] {
        background-color: hsla(156, 100%, 50%, 0.2);
    }
    emphasis {
        background-color: hsla(189, 100%, 50%, 0.2);
    }
    prosody[rate="x-slow"],
    prosody[rate="slow"],
    prosody[rate="fast"],
    prosody[rate="x-fast"] {
        background-color: hsla(33, 100%, 50%, 0.2);
    }
    prosody[pitch="x-low"],
    prosody[pitch="low"],
    prosody[pitch="high"],
    prosody[pitch="x-high"] {
        background-color: hsla(272, 100%, 60%, 0.2);
    }

    .multiple_files .ql-editor p {
        border-color: hsl(250, 100%, 74%);
    }
    .multiple_files .ql-editor p:before {
        color: hsl(250, 100%, 80%);
        border-color: hsl(250, 100%, 74%);
        background: hsla(250, 75%, 50%, 0.2);
    }

    audio::-webkit-media-controls-panel {
        background: #fff;
        filter: invert(83%) sepia(9%) saturate(1960%) hue-rotate(191deg) brightness(99%) contrast(91%);
        -webkit-filter: invert(83%) sepia(9%) saturate(1960%) hue-rotate(191deg) brightness(99%) contrast(91%);
    }
}